<p class="lead">
	Følg dit eget, eller hele nabolagets produktion af strøm på deres solpaneler. <br>
	Sammenlign dit eget anlæg med andre lignende anlæg og se hvem der får produceret mest.
</p>
<p>
	Startet af 2 venner i 2013, efter vi begge fik installeret solpaneler. Der gik ikke længe
	før nysgerigheden var stor, for, hvor meget producerede den anden mon lige nu.</br>
	Det var startskudet til denne hjemmeside, som pt. stadig kun drives som hobbyprojekt.
</p>
<p>Da vi stadig mangler et navn og et domæne, forventer vi på et tidspunkt at ændre adressen på hjemmesiden. Det er kun midlertidigt den findes her
</p>
<p>
	Med venlig hilsen<br/>
	Jesper Rasmussen (udvikler), <a href="mailto:jbr@jbr.dk">jbr@jbr.dk</a></br>
	Peter Larsen (tester), <a href="peter@jbr.dk">peter@jbr.dk</a>
</p>