<div>
	<table class="comp" >
		<thead>
			<tr>
				<th class="headcol">
				</th>
				<th ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true " class="headcol">
					<span>{{plant.Name}}</span>

				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="headcol">
					Seneste opdatering kl
				</td>
				<td ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true " class="comp" style="text-align: center">
					<span>{{plant.pvdata.LatestUpdate | timeFilter}}</span>

				</td>
			</tr>
			<tr>
				<td class="headcol">
					Kort
				</td>
				<td ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true " class="comp" style="text-align: center">
					<google-map center="plant.map.center" draggable="true" zoom="plant.map.zoom" mark-click="false" markers="plant.map.markers" style="height: 120px; width: 120px; display:block;"></google-map>
				</td>
			</tr>
			<tr>
				<td class="headcol">
					Aktuel produktion
				</td>
				<td ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true" class="comp">
					<div ng-show="plant.PowerAcGauge">
						<div google-chart chart="plant.PowerAcGauge"/>
					</div>
				</td>
			</tr>
			<tr>
				<td class="headcol">
					Dags produktion
				</td>
				<td ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true " class="comp">
					<span>{{plant.pvdata.EnergyToday}} Wh</span>

				</td>
			</tr>
			<tr>
				<td class="headcol">
					Total produktion
				</td>
				<td ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true " class="comp">
					<span>{{plant.pvdata.EnergyTotal}} kWh</span>

				</td>
			</tr>
			<tr>
				<td class="headcol">
					Installeret effekt
				</td>
				<td ng-repeat="plant in plants | orderBy:'pvdata.PowerAc':reverse=true  " class="comp">
					<span>{{plant.Panels.Capacity}} kWp</span>

				</td>
			</tr>
		</tbody>
	</table>
	
</div>
