<h4 style="padding-bottom: 1em;" ng-hide="addMode">
	Rediger oplysning for anlæg {{plant.PlantKey}} - {{plant.Name}}
</h4>
<h4 style="padding-bottom: 1em;" ng-show="addMode">
	Opret nyt anlæg {{plant.PlantKey}} {{plant.Name}}
</h4>
<form name="plantdata" ng-submit="update()">
	<table class="plantdata">
		<tr>
			<td class="plantdata">
				<label for="plantkey" ng-show="addMode">Anlægs id</label>
			</td>
			<td class="plantdata">
				<input type="text" id="plantkey" size="20" maxlength="80" ng-model="PlantKey" ng-show="addMode" required/>
			</td>
			<td>
				<button ng-show="addMode" ng-click="createPlant()" class="btn  btn-primary">Opret</button>
			</td>

		</tr>		
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="plantname">Navn</label>
			</td>
			<td class="plantdata">
				<input type="text" id="plantname" size="20" maxlength="80" ng-model="plant.Name" required/>
			</td>
		</tr>		
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="map">Kort</label>
			</td>
			<td class="plantdata">
				<google-map center="map.center" draggable="true" zoom="map.zoom" mark-click="true" refresh="map.refresh" markers="map.markers" longitude="map.longitude" latitude="map.latitude" style="height: 200px; width: 200px; display:block;"></google-map>
			</td>
			<td class="plantdata">
				<a ng-click="findMe()" class="btn">Hit mig</a>
			</td>
		</tr>
<!--
		<tr>
			<td class="plantdata">
				<label for="zoom">Zoom</label>
			</td>
			<td class="plantdata">
				<input type="number" id="zoom" size="20" maxlength="80" ng-model="map.zoom"/>
			</td>
		</tr>
		<tr>
			<td class="plantdata">
				<label for="latitude">Latitude mark</label>
			</td>
			<td class="plantdata">
				<input id="latitude" size="20" maxlength="80" ng-model="map.latitude"/>
			</td>
		</tr>
		<tr>
			<td class="plantdata">
				<label for="longitude">Longitude mark</label>
			</td>
			<td class="plantdata">
				<input id="longitude" size="20" maxlength="80" ng-model="map.longitude"/>
			</td>
		</tr>		<tr>
			<td class="plantdata">
				<label for="latitude">Latitude</label>
			</td>
			<td class="plantdata">
				<input id="latitude" size="20" maxlength="80" ng-model="map.center.latitude"/>
			</td>
		</tr>
		<tr>
			<td class="plantdata">
				<label for="longitude">Longitude</label>
			</td>
			<td class="plantdata">
				<input id="longitude" size="20" maxlength="80" ng-model="map.center.longitude"/>
			</td>
		</tr> 
		<tr>
			<td class="plantdata">
				<label for="picture">Billede</label>
			</td>
			<td class="plantdata">
				<input id="picture" type="file" size="20" maxlength="40" ng-model="plant.Picture"/>
			</td>
		</tr> -->
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="panelvendor">Panel producent</label>
			</td>
			<td class="plantdata">
				<input type="text" id="panelvendor" size="20" maxlength="40" ng-model="plant.Panels.Vendor"/>
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="panelmodel">Panel model</label>
			</td>
			<td class="plantdata">
				<input type="text" id="panelmodel" size="20" maxlength="40" ng-model="plant.Panels.Model"/>
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="panelcapacity">Paneler samlet effekt</label>
			</td>
			<td class="plantdata">
				<input type="number" id="panelcapacity" size="7" maxlength="7" min="0" max="9999999" ng-model="plant.Panels.Capacity"/> watt peak
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="panelpieces">Antal paneler</label>
			</td>
			<td class="plantdata">
				<input type="number" min="0" max="9999" id="panelpieces" size="2" maxlength="4" ng-model="plant.Panels.Pieces"/> stk
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="invertervendor">Inverter producent</label>
			</td>
			<td class="plantdata">
				<input type="text" id="invertervendor" size="20" maxlength="40" ng-model="plant.Inverter.Vendor"/>
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="invertermodel">Inverter model</label>
			</td>
			<td class="plantdata">
				<input type="text" id="invertermodel" size="20" maxlength="40" ng-model="plant.Inverter.Model"/>
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="invertercapacity">Inverter effekt</label>
			</td>
			<td class="plantdata">
				<input type="number" id="invertercapacity" size="7" maxlength="7" min="0" max="9999999" ng-model="plant.Inverter.Capacity"/> watt peak
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="installationdate">Idriftsættelsesdato</label>
			</td>
			<td class="plantdata">
				<datepicker ng-model="installationdate" show-weeks="false" starting-day="1">
				</datepicker>
			</td>
    		<td><em>{{installationdate | date:'fullDate' }}</em></td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="installationprice">Pris</label>
			</td>
			<td class="plantdata">
				<input type="number" min="0" max="999999999" id="installationprice" size="7" maxlength="8" ng-model="plant.InstallationData.Price"/> kr.
				<p>Incl. montering <input type="checkbox" ng-model="plant.InstallationData.PriceIncludeMounting"></p>
			</td>
		</tr>
		<tr ng-hide="addMode">
			<td class="plantdata">
				<label for="dataprovider">Dataleverandør</label>
			</td>
			<td class="plantdata">
				<select id="dataprovider" ng-model="plant.DataProvider" ng-options="d.DataProvider as d.Name for d in DataProviders" required ng-change="updatedDataprovider()">
				</select>
			</td>
		</tr>
		<tr ng-show="showUsername()">
			<td class="plantdata">
				<label for="username">Brugernavn</label>
			</td>
			<td class="plantdata">
				<input type="text" id="username" size="20" maxlength="80" ng-model="plant.InitiateData.UserName"/>
			</td>
		</tr>
		<tr ng-show="showPassword()">
			<td class="plantdata">
				<label for="password">Adgangskode</label>
			</td>
			<td class="plantdata">
				<input type="password" id="password" size="20" maxlength="80" ng-model="plant.InitiateData.Password"/>
			</td>
		</tr>
		<tr ng-show="showPlantno()">
			<td class="plantdata">
				<label for="plantno">Anlægs nummer</label>
			</td>
			<td class="plantdata">
				<input type="text" id="plantno" size="2" maxlength="10" ng-model="plant.InitiateData.PlantNo"/>
			</td>
		</tr>
		<tr ng-show="showAddress()">
			<td class="plantdata">
				<label for="address">Internet adresse</label>
			</td>
			<td class="plantdata">
				<input type="text" id="address" size="20" maxlength="100" ng-model="plant.InitiateData.Address"/>
			</td>
		</tr>
		<tr>
			<td/>
			<td>
				<a ng-hide="addMode" ng-click="delete()" class="btn btn-danger">Slet anlæg</a>
				<a ng-click="cancel()" class="btn">Annuller</a>
				<button ng-hide="addMode" ng-click="update()" class="btn  btn-primary">Gem</button>
			</td>			
		</tr>
		

	</table>


</form>

