<div>
	<h4>Du har følgende anlæg <small>Klik på eksisterende anlæg for at ændre</small></h4>
	
	<p style="padding-bottom: 1em;">
		<button ng-click="add()" class="btn ">Tilføj nyt anlæg</button> </p>
		
	<!-- <div class="gridStyle" ng-grid="gridOptions"></div> -->
	
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th>Anlægs id</th>
			<th>Anlægsnavn</th>
		</tr>
		<tr ng-repeat="plant in plants">
			<td><a href="#/myplants/{{plant.PlantKey}}">{{plant.PlantKey}}</a></td>
			<td><a href="#/myplants/{{plant.PlantKey}}">{{plant.Name}}</a></td>
		</tr>

	</table>

</div>