<h3>Nyheder</h3>
<table class="table table-striped table-bordered">
	<tr>
		<td>Dato</td>
		<td>Kommentar</td>
	</tr>
	<tr>
		<td>13.8.2013</td>
		<td>Tilføjede total produktion for SMA sunnyportal anlæg</td>
	</tr>
	<tr>
		<td>11.8.2013</td>
		<td>Tilføjede mulighed for at kunne sammenligne anlæg på kr/øre. For at kunne se hvordan dit anlæg performer pr. kr. skal felterne for pris og idræftsættelsesdato under "Mine anlæg" blot udfyldes.</td>
	</tr>
	<tr>
		<td>8.8.2013</td>
		<td>Skift til pænere design, der er mere mobil venligt</td>
	</tr>
	<tr>
		<td>1.3.2013</td>
		<td>Første version med et anlæg kom online på sol.jbr.dk</td>
	</tr>
</table>
